body {
  font-family: 'Open Sans', sans-serif;

  background: #2F2E41;
  color: #fff;
  max-height: 100vh;
}

.page {
  max-width: 1100px;
  margin: auto;
}


nav {
  display: flex;
  margin: 60px 0;
  justify-content: space-between;
  align-items: center;
  
}

ul {
  display: flex;
  gap: 55px;
  font-family: 'JetBrains Mono';
  font-size: 14px;
}

li, a {
  list-style: none;
  text-decoration: none;
  color: #fff;
}

 a:hover {
  color: #00BFA6;
}

main {
  display: flex;
  justify-content: space-between;
}

h1 {
  margin-bottom: 56px;
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  text-align: center;

}

span {
  color: #00BFA6;
}

section p {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 30px;

  text-align: center;

  color: #C2C2C2;
}

footer {
  margin-top: 185px;
  
  font-family: 'JetBrains Mono';
  text-align: center;
}



.line {
  width: 568px;
  height: 0;
  margin: auto;
  margin-bottom: 30px;
  border: 1px solid #00BFA6;
}

#padlock {
  position: fixed;
  left: 1%;
  bottom: 1%;
}